services:
  webapp:
    container_name: webapp
    build:
      context: .
    environment:
      - PORT=8080
    volumes:
      - webapp-logs:/tmp/webapp-logs
    ports:
      - "8080:8080"
    depends_on:
      - loki

  loki:
    image: grafana/loki:2.9.3
    command: -config.file=/etc/loki/config.yml
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yml:/etc/loki/config.yml:ro
      - loki-data:/loki

  promtail:
    image: grafana/promtail:2.9.3
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yml:ro
      - webapp-logs:/tmp/webapp-logs:ro

  grafana:
    image: grafana/grafana:10.4.2
    ports:
      - "9090:3000"
    depends_on:
      - loki
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  loki-data:
  grafana-data:
  webapp-logs:
